<h1>Generate Checksum</h1>
<form action="/generate-checksum" method="post">
  <input type="text" name="checksum_text" placeholder="Add some text here"/>
  <input type="submit" name="Generate Checksum"/>
</form>
